@import "./Assets/mediaquries.scss";
:root {
  --grey: #fcf5ff;
  --yellow: #fff7d0;
  --salmon: #ffb9b0;
  --red: #ff5d68;
  --blue-light1-bg: #f2f7f9;
  --blue-light2-bg: #edf5f7;
  --blue-light3-bg: #e4edef;

  --primary-font: "Ubuntu", "Source Sans Pro", sans-serif;
  --secondary-font: "Source Sans Pro", sans-serif;
  --mb-font: "MBPictureHouseTwoW01-Bold";

  --primary-clr: #3c495e;
  --secondary-clr: #6f8ba5;

  --header-font: min(max(1.8rem, calc(-0.875rem + 8.333vw)), 2.5rem);
}

body {
  margin: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue-light2-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1080px;
  margin: auto;

  @include media("<desktop") {
    padding: 0px 2rem;
  }
  @include media("<tablet") {
    padding: 0px 1rem;
  }
}

.logo-font {
  font-size: var(--header-font);
}
